*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", "sans-serif";
}

body {
    position: relative;
}

header {
    width: 100%;
    position: fixed;
    background-color: #6cd3d3;
    padding: .5rem 0;
    box-shadow: 0 0 9px #44c5c5;
    top: 0;
    z-index: 999;
}

.main {
    position: relative;
    padding-bottom: 1rem;
    height: 100%;
    min-height: 100vh;
    background-color: rgb(253, 246, 246);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: rgb(83, 81, 81);
}

main h1 {
    font-size: clamp(1.1rem, 2.5vw, 1.5rem);
}

main h2 {
    font-size: clamp(.9rem, 2.5vw, 1.2rem);
    margin-bottom: 1.5rem;
}

.welcome__user {
    padding: .7rem;
    border: 1px solid #6cd3d3;
    border-radius: 10px;
}

.avatar__name {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.logo {
    text-transform: uppercase;
    color: #02044d;
    font-size: clamp(1rem, 1.5vw, 1.6rem);
    font-weight: 900;
    margin-left: .3rem;
}

.logo span {
    color: rgb(64, 64, 238);
}

.form__container {
    background: linear-gradient(to bottom, #ecfcfc, #6cd3d3);
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
}

.form__container h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #1a1c8d;
    font-size: clamp(1rem, 1.5vw, 1.6rem);
    margin-bottom: 1rem;
}

.alert {
    font-size: clamp(.8rem, 2.5vw, 1.1rem);
    margin-bottom: 1.2rem;
    padding: 15px;
    border-radius: 5px;
    animation: easeIn 1s ease-in-out;
}

.sign_up_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.3rem;
    color: #1a1c8d;
}

.sign_up_link h3 {
    font-size: clamp(.9rem, 1.5vw, 1rem);
}

.sign_up_link h4 {
    font-size: clamp(.9rem, 1.5vw, 1rem);
}

.no-post-text {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-post-text h4{
    font-size: clamp(.8rem, 2.3vw, 1rem);
}

.user__info {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: .5rem;
    border: 1px solid #44c5c5;
    border-radius: 10px;
}

.top-side {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.image-text {
    display: flex;
    align-items: center;
}

.top-side-text {
    margin-top: -.6rem;
    margin-left: .3rem;
}

.top-side-text span {
    display: flex;
    align-items: center;
}

.top-side-text span h3 {
    font-size: clamp(.8rem, 2.5vw, 1.1rem);
    display: flex;
    align-items: center;
}

.top-side-text span h4 {
    font-size: clamp(.7rem, 2.5vw, 1rem);
    margin-left: .2rem;
    color: rgb(163, 157, 157);
}

.bottom-side h1 {
    font-size: clamp(.9rem, 2.5vw, 1.2rem);
}

.bottom-side img {
    border-radius: 8px;
    margin: .3rem 0;
    height: 550px;
    object-fit: cover;
}

.time-stamp {
    margin-bottom: .6rem;
}

.time-stamp p {
    font-size: clamp(.7rem, 2.5vw, .9rem);
}

.like-comment-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.like-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}

.comment-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-section {
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile h3 {
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.user-profile h4 {
    font-size: clamp(.8rem, 2.5vw, .9rem);
    margin: 0 0 .5rem 0;
    border-top: 1px solid #80f7f7;
    padding: .5rem;
}

.posts-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 0 0 0;
    border-top: 1px solid #80f7f7;
    border-bottom: 1px solid #80f7f7;
}

.posts-heading h2 {
    font-size: clamp(.9rem, 2.5vw, 1.1rem);
    font-weight: 700;

}

.post-container {
    margin-bottom: 1rem;
}

.post-wrapper {
    padding: .5rem;
    margin-bottom: 1.5rem;
}

.post-wrapper h1 {
    margin-bottom: 10px;
    font-size: clamp(.8rem, 2.5vw, 1rem);
}

.post-wrapper img {
    height: 550px;
    object-fit: cover;
    border-radius: 5px;
}

/* STYLING FOR PROGRESS BAR */
.wrapper {
    margin-bottom: 1rem;
    border: 1px solid hsl(180, 97%, 65%);
    border-radius: 5px;
}

.progress-container {
    background-color: white;
    border-radius: 5px;
    color: #18ce6a;
}

.label {
    font-size: clamp(.8rem, 2.5vw, 1rem);
    color: white;
}

.like-btn {
    animation: likeAnimation 1s ease-in-out;

}

.commentPage-bottom-side img {
    border-radius: 3px;
    margin: .3rem 0;
    height: 100%;
    object-fit: cover;
}

.comment-container {
    background-color: rgb(248, 241, 241);
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: 1.3rem;
}

.comment-top-side {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.comment-top-side article {
    display: flex;
    align-items: center;
}

.comment-top-side-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.comment-top-side h1 {
    width: 100%;
    font-size: clamp(.7rem, 2.5vw, 1.2rem);
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
}

.comment-container h2 {
    width: 100%;
    font-size: clamp(.9rem, 2.5vw, 1rem);
    margin-bottom: .8rem;
}

.comment-container p {
    width: 100%;
    font-size: clamp(.6rem, 2.5vw, 1rem);
    color: rgb(197, 193, 193);
}

@keyframes easeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes likeAnimation {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 500px) {
    .bottom-side img {
        height: 400px;
    }

    .post-wrapper img {
        height: 400px;
    }
}

@media screen and (max-width: 420px) {
    .sign_up_link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .sign_up_link h3 {
        margin-bottom: .4rem;
    }

    .top-side-text span h4 {
        margin-left: 0;
    }

    .top-side-text span {
        display: block;
    }

    .bottom-side img {
        height: 350px;
    }

    .post-wrapper img {
        height: 350px;
    }
}